<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Portfolio</title>
	<link rel = "icon" type = "image/x-icon" href="{{url_for('static',filename='img/l.png')}}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/Registration-Form-with-Photo.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/Header-Dark.css')}}">
</head>

<body>
	<div class="jumbotron">
	<nav class="navbar fixed-top navbar navbar-dark bg-dark ">
		<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container">
				<a class="navbar-brand" href="#"><strong>Akhil Portfolio</strong></a>
				<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
					<span class="navbar-toggler-icon"></span>
					</button>
				<div class="collapse navbar-collapse" id="navcol-1">
					<div class="navbar-nav">
					<ul class="nav navbar-nav mr-auto"></ul>
					<a class="btn btn-primary" role="button" href='#abo'>About</a>
					<a class="btn btn-secondary" role="button" href='#exp'>Experience</a>
					<a class="btn btn-success" role="button" href='#edu'>Education</a>
					<a class="btn btn-danger" role="button" href='#cer'>Certification</a>
					<a class="btn btn-warning" role="button" href='#acc'>Accomplishments</a>
					<a class="btn btn-light" role="button" href='#ski'>Skills</a>
					<a class="btn btn-primary" role="button" href='#con'>Contact</a>
					</div>
				</div>
            </div>
	    </nav>
	</nav>
	</div>
	<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  		<div class="register-photo">
       		<h1 class="text-center" id="abo">ABOUT</h1>
			<h5 class="text-success text-center">I have completed my studies in Computer science in Andhra Loyalo</h5>

		</div>
		<br>
		<div class="register-photo">
       		<h1 class="text-center" id="exp">EXPERIENCE</h1>
			<h3 class="text-success text-center">I completed my studies in September 2020 </h3
		</div>
		<br>
		<div class="register-photo">
       		<h1 class="text-center" id="edu">EDUCATION</h1>
			<div class="container text-center" >
			    <div class="table table-bordered">
			        <table class="table">
            			<thead class="thead-dark">
			                <tr>
			                    <th>Studies</th>
			                    <th>Year</th>
			                    <th>Grade</th>
            			    </tr>
			            </thead>
			            <tbody>
			                <tr>
			                    <td>BTECH</td>
			                    <td>2020</td>
			                    <td>8.5</td>
			                </tr>
			                <tr>
			                    <td>INERMEDIATE</td>
			                    <td>2016</td>
		            	        <td>8.5</td>
			                </tr>
			            </tbody>
			        </table>
			    </div>
			</div>
		</div>
		<br>
		<div class="register-photo">
       		<h1 class="text-center" id="cer">CERTIFICATION</h1>
			<div class="container text-center" >
			    <div class="table table-bordered">
			        <table class="table">
            			<thead class="thead-dark">
			                <tr>
			                    <th>Technologies</th>
			                    <th>Certificates on</th>
            			    </tr>
			            </thead>
			            <tbody>
			                <tr>
			                    <td>Internet of Things</td>
			                    <td>Two day workshop</td>
			                </tr>
			                <tr>
			                    <td>Machine Learning</td>
			                    <td>Two day workshop</td>
			                </tr>
			            </tbody>
			        </table>
			    </div>
			</div>
		</div>
		<br>
		<div class="register-photo">
       		<h1 class="text-center" id="ski">SKILLS</h1>
			<div class="container text-center" >
			    <div class="table table-bordered">
			        <table class="table">
            			<thead class="thead-dark">
			                <tr>
			                    <th>Computer Languages</th>
			                    <th>Databases</th>
            			    </tr>
			            </thead>
			            <tbody>
			                <tr>
			                    <td>Python</td>
			                    <td>SQL</td>
			                </tr>
			                <tr>
			                    <td>C and C++</td>
			                    <td>PLSql</td>
			                </tr>
			            </tbody>
			        </table>
			    </div>
			</div>
		</div>
		<br>
		<div class="register-photo">
       		
			<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h4 class="font-weight-bold text-uppercase mt-3 mb-4 text-center" id="con" >CONTACT</h4>
        <h6 class="text-center">Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</h6>

      </div>
      <!-- Grid column -->


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Akhil Portfolio.in</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->	
			
		</div>
	</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>